body{
    background-color: #b8bedd;
    padding: 20px;
}

.board{
    width: 100vh;
    max-width: 100vh;
    display: grid;
    gap: 10px;
    margin: auto;
    grid-template-columns: repeat(6, 1fr);
}

.card{
    background-color: #f0e6ef;
    border-radius: 10px;
    height: calc((100vh - 90px) / 6);
    max-height: calc((100vh - 90px) / 6);
}